:root {
  --placeholder-color: rgba(0, 0, 0, 0.6);
}

.dark-theme::placeholder {
  color: var(--placeholder-color);
}

.dark-theme{
  border-radius: 10px;
  box-shadow: 4px 4px 25px black;
}

.magicBoxes{
  display: flex;
  justify-content: space-between;
}

.btn{
  font-size: 20px;
}

#flexSwitchCheckDefault{
  border: 1px solid black;
}

.form-check-input {
  background-color: blanchedalmond; /* Default circle (light mode) color */
  border-color: #3dcac8 !important; 
}
.form-check-input:checked {
  background-color: blue; /* Active circle (dark mode) color */
  border-color: #0fcff1;
}

body{
  /* background-color: #8393899e; */
  /* background-color: #8a8683; */
  background-color: #FBEAEB;
}
#TextArea,#ModifiedTextArea{
  /* background-color: #729b9d5e; */
  background-color: #baaf7142;
}

.alert {
  position: fixed; 
  top: 55px;   
  width: 40vw;    
  right: 0px;     
  z-index: 3;
}
